@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"),
		url(//fonts.gstatic.com/s/roboto/v15/uYECMKoHcO9x1wdmbyHIm3-_kf6ByYO6CLYdB4HQE-Y.woff2) format("woff2"),
		url(//fonts.gstatic.com/s/roboto/v15/mUdRVCMHGKUBOACHGTH1g-vvDin1pK8aKteLpeZ5c0A.woff) format("woff"),
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"),
		url(//fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format("woff2"),
		url(//fonts.gstatic.com/s/roboto/v15/mUdRVCMHGKUBOACHGTH1g-vvDin1pK8aKteLpeZ5c0A.woff) format("woff"),
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Rock Salt";
	font-style: normal;
	font-weight: 400;
	src: local("Rock Salt"), local("RockSalt"),
		url(//fonts.gstatic.com/l/font?kit=gd4-D138MW5xtop2Tj4Mg8d8QlxByM-RQkNtrEYfDDSHpVrDEsrWGyHvPIGrkx6W&skey=53155c62c0f0411&v=v6) format("woff2"),		
		url(//fonts.gstatic.com/l/font?kit=ZSk1ILpoJ0Ye0Mg369bM98d8QlxByM-RQkNtrEYfDDSHpVrDEsrWGyHvPIGrkx6W&skey=53155c62c0f0411&v=v6) format("woff");
}
body {
	font: 16px/1.5 "Roboto", sans-serif;
	background: url(/img/bg.png) repeat top left;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx)
{ 
	body {
		background: url(/img/bg@2x.png) repeat top left / 204px 204px;
	}
}
h1 {
	font: 2em/1.2 "Rock Salt", cursive;
	color: #777;
	margin: 25px 0 20px;
}
.container-fluid {
 	width: 100%;
	height: 100%;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center; 
	overflow: auto;
}
.photo {
	border: 4px solid #bcbcbc;
}
