body {
	font: 16px/1.5 "Roboto", sans-serif;
	background: url("/images/bg.png") repeat;
}
h1, h2, h3, h4 {
	font-weight: 700;
}
h1 {
	font: 2em/1.2 "Rock Salt", cursive;
	color: #777;
	margin: 25px 0 40px;
}
h3 {
	font-size: 1.25em;
}
h2 {
	font-size: 1.5em;
}
footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.content {
	position: relative;
	padding-top: 50px;
	padding-bottom: 25px;
}
.content h2:nth-child(1) {
	margin-top: 0;
}
@media (min-width: 768px) {
	.sidebar {
		position: fixed;
	}
}
.sidebar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	min-height: 100%;
	padding-top: 50px;
	padding-bottom: 25px;
}
.sidebar h3 {
	margin-top: 10px;
	cursor: pointer;
}
.photo {
	border: 2px solid #BCBCBC;
	box-shadow: 2px 4px 8px 0 #999;
}
#disqus_thread {
	margin-bottom: -12px;
}
#___plusone_0 {
margin-left: 10px!important;
}
.lang-RU, .lang-US {
	background: url("/images/lang.png") no-repeat 0 11px;
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: baseline;
	position: relative;
	overflow: hidden;
	width: 16px;
	height: 11px;
	font-size: 0;
	line-height: 0;
	margin: 0;
	padding: 0;
}
.lang-RU {
	background-position: 0 0;
}
.lang-US {
	background-position: 0 -11px;
}
