body {
	font: 16px/1.5 "Roboto", Arial, sans-serif;
	background: url("/images/bg.png") repeat;
}
h1, h2, h3, h4 {
	font-weight: 700;
}
h1 {
	font-size: 2em;
	margin: 25px 0 40px;
}
h3 {
	font-size: 1.25em;
}
h2 {
	font-size: 1.5em;
}
.content {
	position: relative;
	padding: 50px 0 25px;
}
.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100%;
	padding: 50px 0 25px;
}

.img-circle {
	border: 2px solid #BCBCBC;
	-webkit-box-shadow: 2px 4px 10px 0px #999;
	-moz-box-shadow: 2px 4px 10px 0px #999;
	box-shadow: 2px 4px 10px 0px #999;

}
@media (min-width: 768px) {
	.sidebar {
		position: fixed;
	}
}
footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.content h2:nth-child(1) {
	margin-top: 0;
}

.sidebar h3 {
	margin-top: 10px;
	cursor: pointer;
}
