body {
	background:url("/images/bg.png") repeat;
	font:16px/1.5 "Roboto", Arial, sans-serif;
}

h1,h2,h3,h4 {
	font-weight:700;
}

h1 {
	font-size:2em;
	margin:25px 0 40px;
}

h3 {
	font-size:1.25em;
}

h2 {
	font-size:1.5em;
}

footer {
	-ms-flex-align:center;
	-webkit-box-align:center;
	align-items:center;
	display:flex;
}

.content {
	padding-bottom:25px;
	padding-top:50px;
	position:relative;
}

.content h2:nth-child(1) {
	margin-top:0;
}

@media min-width 768px {
	.sidebar {
		position:fixed;
	}
}

.sidebar {
	-ms-flex-direction:column;
	-ms-flex-pack:justify;
	-webkit-box-direction:normal;
	-webkit-box-orient:vertical;
	-webkit-box-pack:justify;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	min-height:100%;
	padding-bottom:25px;
	padding-top:50px;
}

.sidebar h3 {
	cursor:pointer;
	margin-top:10px;
}

.photo {
	border:2px solid #BCBCBC;
	box-shadow:2px 4px 8px 0 #999;
}

#disqus_thread {
	margin-bottom:-12px;
}

#___plusone_0 {
	margin-left:10px!important;
}

.lang-ru,.lang-us {
	-moz-box-orient:vertical;
	background:url("/images/lang.png") no-repeat 0 11px;
	*display:inline;
	font-size:0;
	height:11px;
	line-height:0;
	margin:0;
	overflow:hidden;
	padding:0;
	position:relative;
	vertical-align:baseline;
	width:16px;
	*zoom:1;
}

.lang-ru {
	background-position:0 0;
}

.lang-us {
	background-position:0 -11px;
}
